@(user: User)

@main(null) {
	<section id="deleteUserConfirm">
		<!-- Start Formoid form-->
		<form id="showuser" class="formoid-solid-dark"
			style="background-color: #FFFFFF; font-size: 14px; font-family: 'Trebuchet MS', 'Roboto', Arial, Helvetica, sans-serif; color: #34495E; max-width: 480px; min-width: 150px"
			method="post" action="">
			<div class="title">
				<h2>Delete User</h2>
			</div>
			<div class="element-input">
				<label class="title">Email:</label>
				<div class="item-cont">
					<input class="large" type="email" name="email" readonly style="color: #a9a9a9;" 
						placeholder="Enter your email..." value=@user.getEmail() /><span class="icon-place"></span>
				</div>
			</div>
			<div class="element-input">
				<label class="title"><span class="required"></span>The User Account for @user.getEmail() will be deleted.  Please click Delete below to continue or Cancel to stop this process.</label>
			</div>
			<div class="submit">
				<input type="submit" class="deleteButton" style="color: #FFFFFF;" value="Delete" />
				<a href="/" class="buttonCancel">@Messages("goback")</a>
			</div>
			<!-- This is needed for bottom shadow to appear... -->
			<div></div>
		</form>
	</section>
}
