@(appProfile: Form[controllers.workflow.ApplicationProfile.NewProfile], lookups: java.util.List[models.workflow.WorkflowLookup], users: java.util.List[models.workflow.WorkflowUser], profile: models.workflow.WorkflowProfile, profileAudits: java.util.List[models.workflow.WorkflowAuditRecord])

@import java.text.SimpleDateFormat

@main(null) {
	<section id="appProfile">
		<form class="formoid-solid-dark"
			style="background-color: #FFFFFF; font-size: 14px; font-family: 'Trebuchet MS','Roboto', Arial, Helvetica, sans-serif; color: #34495E; max-width: 480px; min-width: 150px"
			method="post" action="">
			<div class="title">
				<h2>Application Profile</h2>
			</div>
			<div class="element-input">
				<label class="title"><span class="required">*</span>Application Name:</label>
				<div class="item-cont"><input class="large" type="text" name="appName" required="required" placeholder="Enter the Application Name..." value="@profile.getAppName()" /><span class="icon-place"></span></div>
			</div>
			<div class="element-input">
				<label class="title"><span></span>Description:</label>
				<div class="item-cont">
					<textarea class="medium" type="text" name="appDesc" placeholder="Enter Description..." value="@profile.getAppDesc()" /></textarea>
					<span class="icon-place"></span>
				</div>
			</div>
			<div class="element-input">
				<label class="title"><span class="required">*</span>Owner:</label>
				<div class="item-cont"><input class="large" type="text" name="appOwner" required="required" placeholder="Enter the Owner Name..." value="@profile.getAppOwner()" /><span class="icon-place"></span></div>
			</div>
			<div class="element-input">
				<label class="title"><span class="required">*</span>Owner Email:</label>
				<div class="item-cont">
					<input class="large" type="email" name="appOwnerEmail" required="required"
						placeholder="Enter the Owner email..." value="@profile.getAppOwnerEmail()" /><span class="icon-place"></span>
				</div>
			</div>
			<div class="element-select">
				<label class="title"><span class="required">*</span>Agency:</label>
				<div class="item-cont">
					<div class="large">
						<span>
							<select name="appAgency" required="required">
								<option selected="selected" value="" disabled="disabled">--- Select Agency ---</option>
									@for(lookup <- lookups) {
										@if(lookup.getLookupType() == "Agency") {
											{<option @if(profile.getAppAgency() == lookup.getName()) {selected="selected"} value="@lookup.getName()">@lookup.getName()</option>}
										}
									}	
							</select>
							<i></i><span class="icon-place"></span>
						</span>
					</div>
				</div>
			</div>
			<input type="hidden" name="appKey" id="appKey" />
			<div class="element-input">
				@if(appProfile.hasGlobalErrors) {
					<span class="errorMessageDisplay" style="color: #d9534f;">@appProfile.globalError.message</span>
				}
			</div>
			<div class="submit">
				<input type="submit" value="Submit" />
				<a href="/" class="buttonCancel">@Messages("goback")</a>
			</div>
			@if(!profileAudits.isEmpty) {
				<div class="modifiedSection" style="font-size: 10px;">
					<table class="modifiedTable">
						@for(audit <- profileAudits) {
							<tr>
								<td width="25%">@if(audit.getDateCreated() != null){@(new SimpleDateFormat("MM/dd/yyyy hh:mm a").format(audit.getDateCreated()))}</td>
								<td width="25%">@audit.getAuthor()</td>
								<td width="50%">@audit.getMessage()</td>
							</tr>
						}					
					</table>
				</div>
			}
			<!-- This is needed for bottom shadow to appear... -->
			<div></div>
		</form>
	</section>
}