@()


	@main() {

	<form class="formoid-solid-dark"
		style="background-color: #FFFFFF; font-size: 14px; font-family: 'Trebuchet MS', 'Roboto', Arial, Helvetica, sans-serif; color: #34495E; max-width: 480px; min-width: 150px"
		method="post">
		<div class="title">
			<h2>Message Sent</h2>
		</div>
		<div class="element-input">
			<label class="title">Your message has been sent to the CO-Assist admin. You will also receive a copy at the email provided.<label><span><br /></span>
		</div>
		<!-- This is needed for bottom shadow to appear... -->
		<div></div>
	</form>


}